.card-image {
    height: 500px;
}

.card-content {
    height: 200px;
}

@media (max-width: 1000px) {
    .card-image {
        height: 100%;
    }

    .card-content {
        height: 350px;
    }
}