.contact-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lg-icon {
    font-size: 5rem !important;
}

.lg-font {
    font-size: 2rem;
}

.contact-container .text {
    text-align: center;
}