.buffer {
    margin-top: 5rem;
}

.things-we-offer-container {
    display: flex;
    justify-content: space-around;
}

.verified-icon-style {
    color: #4A955C;
    font-size: 5rem !important;
}

.verification-icon {
    text-align: center;
    padding: 3rem;
}
